# Compiled class files
*.class

# Log files
logs/

# IntelliJ IDEA files
.idea/
*.iml

# Temp file
/springboot-web/docker/elastaticsearch/master-data/nodes/
/springboot-web/docker/elastaticsearch/slave-data/nodes/