# Compiled class files
*.class
target/

# Log files
/logs/

# IntelliJ IDEA files
.idea/
*.iml

# Temp file
/docker/elastaticsearch/master/data/
/docker/elastaticsearch/master/logs/
/docker/elastaticsearch/slave/data/
/docker/elastaticsearch/slave/logs/
/docker/rocketmq/broker/store/
/docker/rocketmq/broker/logs/
/docker/rocketmq/namesrv/logs/