version: '3.7'
services:
  namesrv:
    image: martindai/rocketmq:5.1.0
    container_name: rmq-namesrv
    command: sh mqnamesrv
    ports:
      - 9876:9876
    volumes:
      - ./rocketmq/namesrv/logs:/home/rocketmq/logs
    networks:
      - net-rocketmq
  broker:
    image: martindai/rocketmq:5.1.0
    container_name: rmq-broker
    environment:
      NAMESRV_ADDR: "namesrv:9876"
      JAVA_OPTS: "-Duser.home=/opt"
      JAVA_OPT_EXT: "-server -Xms256m -Xmx512m"
    command: sh mqbroker -c /home/rocketmq/rocketmq-5.1.0/conf/broker.conf
    ports:
      - 10909:10909
      - 10911:10911
    volumes:
      - ./rocketmq/broker/logs:/home/rocketmq/logs
      - ./rocketmq/broker/store:/home/rocketmq/store
      - ./rocketmq/broker/conf/broker.conf:/home/rocketmq/rocketmq-5.1.0/conf/broker.conf
    networks:
      - net-rocketmq
    depends_on:
      - namesrv
  dashboard:
    image: martindai/rocketmq-dashboard:1.0.0
    container_name: rmq-dashboard
    ports:
      - 8081:8080
    environment:
      - NAMESRV_ADDR=namesrv:9876
    networks:
      - net-rocketmq
    depends_on:
      - namesrv
      - broker
networks:
  net-rocketmq:
    driver: bridge