version: '3.7'
services:
  redis:
    image: redis:7.0.3
    container_name: redis
    command: redis-server /etc/redis/redis.conf
    restart: always
    volumes:
      - ./redis/:/etc/redis/
    ports:
      - 6379:6379
    networks:
      - net-cache
  memcached:
    image: memcached:1.6.15
    container_name: memcached
    restart: always
    ports:
      - 11211:11211
    networks:
      - net-cache
networks:
  net-cache:
    driver: bridge