version: '3.7'
services:
  zoo1:
    image: zookeeper:3.6
    container_name: zoo1
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zoo1:2888:3888;2181 server.2=zoo2:2888:3888;2181
    restart: always
    hostname: zoo1
    ports:
      - 2181:2181
    networks:
      - net-zk
  zoo2:
    image: zookeeper:3.6
    container_name: zoo2
    environment:
      ZOO_MY_ID: 2
      ZOO_SERVERS: server.1=zoo1:2888:3888;2181 server.2=zoo2:2888:3888;2181
    restart: always
    hostname: zoo2
    ports:
      - 2182:2181
    networks:
      - net-zk
    external_links:
      - zoo1
networks:
  net-zk:
    driver: bridge