version: '3.7'
services:
  seata-server:
    image: seataio/seata-server:1.4.2
    container_name: seata-server
    volumes:
      - ./seata/config:/root/seata-config
    environment:
      - SEATA_PORT=8091
      - SEATA_CONFIG_NAME=file:/root/seata-config/registry
    ports:
      - 8091:8091
    networks:
      - net-seata
networks:
  net-seata:
    driver: bridge