<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doodl6.springboot.seata.order.mapper.OrderMapper">

    <resultMap id="OrderResultMap" type="com.doodl6.springboot.seata.common.entity.Order">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="goods_code" property="goodsCode"/>
        <result column="stock_num" property="stockNum"/>
        <result column="money" property="money"/>
    </resultMap>

    <insert id="insert" parameterType="com.doodl6.springboot.seata.common.entity.Order">
        INSERT INTO `order` (user_id, goods_code, stock_num, money)
        VALUES (#{userId}, #{goodsCode}, #{stockNum}, #{money})
    </insert>

    <select id="selectOrderByCode" parameterType="java.lang.String" resultMap="OrderResultMap">
        SELECT *
        FROM `order`
        WHERE goods_code = #{goodsCode}
    </select>

    <delete id="clearOrderByCode" parameterType="java.lang.String">
        DELETE
        FROM `order`
        WHERE goods_code = #{goodsCode}
    </delete>

</mapper>