<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doodl6.springboot.seata.storage.mapper.StorageMapper">

    <resultMap id="StorageResultMap" type="com.doodl6.springboot.seata.common.entity.Storage">
        <id column="id" property="id"/>
        <result column="goods_code" property="goodsCode"/>
        <result column="stock_num" property="stockNum"/>
    </resultMap>

    <insert id="insert" parameterType="com.doodl6.springboot.seata.common.entity.Storage">
        INSERT INTO storage (goods_code, stock_num)
        VALUES (#{goodsCode}, #{stockNum})
        ON DUPLICATE KEY UPDATE stock_num = #{stockNum}
    </insert>

    <select id="selectByCode" parameterType="java.lang.String" resultMap="StorageResultMap">
        SELECT *
        FROM storage
        WHERE goods_code = #{goodsCode}
    </select>

    <update id="updateStockByCode">
        UPDATE storage
        SET stock_num = stock_num - #{stockNum}
        WHERE goods_code = #{goodsCode}
          AND stock_num &gt;= #{stockNum}
    </update>

</mapper>