spring:
  application:
    name: springboot-web
  main:
    allow-bean-definition-overriding: true
  cloud:
    consul:
      discovery:
        instanceId: ${spring.application.name}:${random.value}
        register: false
  datasource:
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
dubbo:
  application:
    qos-port: 20991
  protocol:
    name: dubbo
    port: 20881
  consumer:
    filter: dubboTraceFilter
rocketmq:
  producer:
    group: chatRecordGroup
    clearUser:
      destination: clearUserData:*
    chatRecord:
      destination: ChatRecord:newChatRecord
    orderlyMessage:
      destination: OrderlyMessage:*
  consumer:
    clearUser:
      group: clearUserGroup
      topic: clearUserData
    chatRecord:
      group: chatRecordGroup
      topic: ChatRecord
    orderlyMessage:
      group: orderlyMessageGroup
      topic: OrderlyMessage
springdoc:
  packagesToScan: com.doodl6
