<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doodl6.springboot.dao.api.UserLoginLogMapper">

    <resultMap id="UserLoginLogResultMap" type="UserLoginLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="login_time" property="loginTime"/>
        <result column="created" property="created"/>
    </resultMap>

    <insert id="insert">
	    INSERT INTO user_login_log (
	      user_id,
	      login_time,
	      created
	    ) VALUES (
	      #{userId},
	      #{loginTime},
	      NOW()
	    )
	</insert>

	<select id="queryLastLoginLog" parameterType="long" resultMap="UserLoginLogResultMap">
		SELECT * FROM user_login_log WHERE user_id = ${value} ORDER BY login_time DESC
	</select>

</mapper>