<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doodl6.springboot.dao.api.UserMapper">

    <resultMap id="UserResultMap" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="created" property="created"/>
        <result column="modified" property="modified"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO user (
	      name,
	      created,
	      modified
	    ) VALUES (
	      #{name},
	      NOW(),
	      NOW()
	    )
	</insert>

	<select id="getById" parameterType="long" resultMap="UserResultMap">
	    SELECT * FROM user WHERE id = #{id}
	</select>

	<select id="queryByName" parameterType="string" resultMap="UserResultMap">
	    SELECT * FROM user WHERE name = #{name}
	</select>

	<delete id="deleteById" parameterType="long">
		DELETE FROM user WHERE id = #{id}
	</delete>

</mapper>